<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zekki.kaihi.alarm">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_label_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zekki_kaihi_alarm">
        <activity
            android:name=".DeleteActivity"
            android:exported="true" />
        <activity
            android:name=".WhenAlarmRingActivity"
            android:exported="true" />
        <activity
            android:name=".InputActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>